/* Add CSS Styling */
.odd-number {
    background-color: pink;
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

.sub-title {
    font-size: 24px;
}

#number-2 {
    color: blue;
    font-size: 36px;
}

#number-4 {
    background-color: lightgreen;
    font-weight: bold;
}