/* Add CSS Styling */
.btn {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}

.btn-yellow {
    background-color: yellow;
}

.btn-black {
    color: white;
    background-color: black;
}